@import "reset";
@import "variables/global";
@import "theme/light";
@import "theme/dark";

.app {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);
  height: 100vh;
}