.app_light_theme {
  --bg-color: #e1e1e1;
  --inverted-bg-color: #090949;

  --primary-color: #435295;
  --secondary-color: #5a6fcb;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
