.button {
  cursor: pointer;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--bg-color);
}

.clear,
.clearInverted {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: var(--primary-color);
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline,
.outlineInverted {
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.outlineInverted {
  border: 1px solid var(--inverted-primary-color);
  color: var(--inverted-primary-color);
}

.background {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square.size_M {
  width: var(--line-height-m);
  height: var(--line-height-m);
  font-size: var(--font-m);
}

.square.size_L {
  width: var(--line-height-l);
  height: var(--line-height-l);
  font-size: var(--font-l);
}

.square.size_XL {
  width: var(--line-height-xl);
  height: var(--line-height-xl);
  font-size: var(--font-xl);
}