.navbar {
  width: 100%;
  height: var(--header-height);
  background: var(--inverted-bg-color);
  display: flex;
  padding: 0 20px;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-self: center;
}
