.inputWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.input {
  flex-grow: 1;
  background: transparent;
  border: none;
  padding: 8px 0;
  font-size: 1rem;
  border-bottom: 1.5px solid transparent;
  color: var(--inverted-primary-color);
  transition: border-color 0.2s ease, color 0.2s ease;

  &:disabled {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    border-color: var(--inverted-primary-color);
    border-bottom: 1.5px solid var(--primary-color);
  }
}